<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="menu">
        <div id="File">File</div>
        <div id="Home">Home</div>
    </div>

    <div class="menu-options">
        <div class="menu-options-item" id="File-menu-options">
            <div id="New">New</div>
            <div id="Open">Open</div>
            <div id="Save">Save</div>
        </div>
        <div class="menu-options-item" id="Home-menu-options">
            <div class="menu-group ">
                <div class="menu-row">
                    <div class="menu-subgroup ">
                        <select id="font-family">
                            <option value="Arial">Arial</option>
                            <option value="Cambria">Cambria</option>
                            <option value="Georgia">Georgia</option>
                            <option value="monospace">Monospace</option>
                            <option value="sans-serif">Sans-Serif</option>
                            <option value="fantasy">Fantasy</option>
                        </select>
                        <div class="style-options">
                            <input id="bold" type="button" value="B">
                            <input id="underline" type="button" value="U">
                            <input id="italic" type="button" value="I">
                        </div>
                    </div>
                    <div class="menu-subgroup ">
                        <select id="font-size">
                            <option value="8">8</option>
                            <option value="10">10</option>
                            <option value="12">12</option>
                            <option value="14">14</option>
                            <option value="16">16</option>
                        </select>
                        <div class="menu_color-container d-b"> 
                            <input id="bg-color" type="color" value="#FFFFFF">
                            <input id="text-color" type="color" value="#000000">
                        </div>

                    </div>
                </div>
            </div>

            <div class="menu-group d-ib">
                <div class="menu-row">
                    <input id="left" type="button" halign="left" value="L">
                    <input id="center" type="button" halign="center" value="C">
                    <input id="right" type="button" halign="right" value="R">
                </div>
            </div>
        </div>

    </div>
    <div class="formula-bar">
        <input type="text" id="address-input">
        <input type="text" id="formula-input"></div>
    <div class="cell-container" id="grid-container">
        <div id="top-left-cell" class="top-left-cell"></div>
        <div class="top-row" id="top-row">
            <%for(let j=0;j<cols;j++){%>
            <div class="cell">
                <%=String.fromCharCode(j+65)%>
            </div>
            <%}%>
        </div>

<div class="left-col" id="left-col">
    <%for(let i=1;i<=rows;i++){%>
            <div class="cell">
                <%=i%>
            </div>
            <%}%>
        </div>
        <div class="grid" id="grid">
            <%for(let i=0;i<rows;i++){%>
            <div class="row">
                <%for(let j=0;j<cols;j++){%>
                <div class="cell" contenteditable="true" ri=<%=i%> ci=<%=j%>> </div>
                <%}%>
        </div>
                <%}%>
            </div>
        </div>
        <div class="sheets">Sheets</div>
        <script src="script.js"></script>
</body>

</html>